---
permalink: /schedule/wednesday/
---
<meta http-equiv="refresh" content="0; url=/schedule/2026/wednesday/">
<p>Redirecting to <a href="/schedule/2026/wednesday/">/schedule/2026/wednesday/</a>...</p>
