---
permalink: /schedule/workshops/
---
<meta http-equiv="refresh" content="0; url=/schedule/2026/workshops/">
<p>Redirecting to <a href="/schedule/2026/workshops/">/schedule/2026/workshops/</a>...</p>
